.userform-progress {
  li {
    float: left;
  }

  /* one item */
  li:first-child:nth-last-child(1) {
    width: 100%;
  }

  /* two items */
  li:first-child:nth-last-child(2),
  li:first-child:nth-last-child(2) ~ li {
    width: 50%;
  }

  /* three items */
  li:first-child:nth-last-child(3),
  li:first-child:nth-last-child(3) ~ li {
    width: 33.3333%;
  }

  /* four items */
  li:first-child:nth-last-child(4),
  li:first-child:nth-last-child(4) ~ li {
    width: 25%;
  }
  /* 5 items */
  li:first-child:nth-last-child(5),
  li:first-child:nth-last-child(5) ~ li {
    width: 20%;
  }
  /* 6 items */
  li:first-child:nth-last-child(6),
  li:first-child:nth-last-child(6) ~ li {
    width: (100% / 6);
  }
  /* 7 items */
  li:first-child:nth-last-child(7),
  li:first-child:nth-last-child(7) ~ li {
    width: (100% / 7);
  }
  /* 8 items */
  li:first-child:nth-last-child(8),
  li:first-child:nth-last-child(8) ~ li {
    width: (100% / 8);
  }
  /* 9 items */
  li:first-child:nth-last-child(9),
  li:first-child:nth-last-child(9) ~ li {
    width: (100% / 9);
  }
  /* 10 items */
  li:first-child:nth-last-child(10),
  li:first-child:nth-last-child(10) ~ li {
    width: (100% / 10);
  }
  /* 11 items */
  li:first-child:nth-last-child(11),
  li:first-child:nth-last-child(11) ~ li {
    width: (100% / 11);
  }
  /* 12 items */
  li:first-child:nth-last-child(12),
  li:first-child:nth-last-child(12) ~ li {
    width: (100% / 12);
  }
  /* 13 items */
  li:first-child:nth-last-child(13),
  li:first-child:nth-last-child(13) ~ li {
    width: (100% / 13);
  }
  /* 14 items */
  li:first-child:nth-last-child(14),
  li:first-child:nth-last-child(14) ~ li {
    width: (100% / 14);
  }



  button {
    @include button-base(#fff,$brand-secondary,transparent); 
    width: 100%;
  }
}