.intro-img {
  @include flexbox();
  background-color: $brand-primary;
  background-position: center;
  background-size: cover;
  @include justify(flex-end);

  &--col2 {
    padding: 50px 70px;
    width: 50%; // fallback for inline-blocks
    @include flex(0 0 50%);
    background-color: transparentize($brand-primary, 0.05);
  }

  h2 {
    font-weight: 100;
    color: #fff;
    @include font-size(30);
  }
  p {
    color: #fff;
    margin-top: $margin-sm;
  }
  button {
    @include font-size(14);
    margin-top: $margin-md;
  }

  // relational positioning
  .intro-hero + &, .intro-img + & {
    margin-top: $margin-lg;
  }
}