.intro-hero {
  background-color: $brand-primary;
  background-position: center top;
  padding-top: 200px; //padding so bg image is exposed
  position: relative;
  overflow: hidden;
  background-size: 120%;
  background-repeat: no-repeat;
  @media screen and (min-width: $screen-sm) {
    padding-top: 280px; //padding so bg image is exposed
  }
  @media screen and (min-width: $screen-md) {
    padding-top: 350px; //padding so bg image is exposed
    background-size: contain;
  }
  @media screen and (min-width: $screen-lg) {
    padding-top: 400px; //padding so bg image is exposed
  }
  &:before {
    //colour tone overlaying the image
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparentize(#0DABFF, 0.4);
    z-index: 2; // keep below content
  }

  .content-wrapper {
    color: #fff;
    padding: 20px;
    background-color: transparentize($brand-primary, 0.1);
    position: relative;
    z-index: 3;
    text-align: center;
    @media screen and (min-width: $screen-xs) {
      padding: 30px 60px;
    }
    @media screen and (min-width: $screen-md) {
      padding: 50px 120px;
    }
  }

  h2 {
    color: #fff;
  }
  p {
    margin-top: $margin-sm;
  }

  // relational positioning
  h1 + &, h2 + &, h3 + & {
    // spacing if component appears after a heading
    margin-top: $margin-lg;
  }

  // media changes
  



}