$promo-gutter    : $layout-gutter-width/2;
$promo-padding   : $layout-gutter-width/3;

//.promo-block {
.promo-grid-3 {
    //margin: 0 $promo-gutter;
    
}
.promo-block {
    @include flexbox();
    @include flex-flow(column, wrap);
    @include justify(space-between);
    .flex-item {
        padding-left: $promo-padding;
        padding-right: $promo-padding;
        padding-bottom: $promo-padding;

        h2 {
            font-weight: 100;
            margin-top: $margin-xs;
            @include font-size(22);
        }
        p {
            margin-top: $margin-xs;
        }
        a {
            display: block;
            @include font-size(14);
            background-color: $brand-primary;
            color: #fff;
            width: 100%;
            @include button-hover(#fff, red, transparent);
        }
        &--img {
            padding: 0;
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
            }
        }
    }

    // relational positioning
    .intro-hero + &, .intro-img + & {
    margin-top: $margin-lg;
    }
}

.promo-block--abs {
    position: relative;
    padding-bottom: $promo-padding * 3; // make space for the button at the bottom
    > div {
        padding: 0 $promo-padding;
    }
    .promo-block--abs-img {
        padding: 0;
    }
    img {
        width: 100%;
    }
    h2 {
        font-weight: 100;
        margin-top: $margin-xs;
        @include font-size(22);
    }
    p {
        margin-top: $margin-xs;
    }
    
    .promo-block--abs-link {
        position: absolute;
        width: 100%;
        bottom: $promo-padding;
    }
    a {
        @include font-size(14);
        background-color: $brand-primary;
        display: block;
        color: #fff;
        @include button-hover(#fff, red, transparent);
    }
}

// stripe margins off the appropriate child components
// .promo-grid-3 {
//     .promo-block {
//         margin-left: 0;
//         margin-right: 0;
//     }

//     @media screen and (min-width: $screen-sm) {

//     }
//     @media screen and (min-width: $screen-md) and (max-width: $screen-lg - 1) {
//         > div:nth-child(odd) .promo-block {  
//             margin-left: 0;
//             margin-right: $promo-gutter;
//         }
//         > div:nth-child(even) .promo-block {  
//             margin-left: $promo-gutter;
//             margin-right: 0;
//         }
//     }
//     @media screen and (min-width: $screen-lg) {
//         > div:nth-child(3n+1) .promo-block {  
//             margin-left: 0;
//             margin-right: $promo-gutter;
//         }
//         > div:nth-child(3n +3) .promo-block {  
//             margin-left: $promo-gutter;
//             margin-right: 0;
//         }
//     }
// }
//     