$sol-primary        : #0e589e;
$sol-secondary      : #1e87d7;

$sol-neutral        : #3e5868;
$sol-neutral-50     : lighten($sol-neutral, 10);
$sol-neutral-10     : lighten($sol-neutral, 35);



$sol-example-border : $sol-neutral-10;