// SVG sprite is based on a 50px X 50px grid, with a width of 500px. 
// To fit it into the checkbox area, say 32px X 32px, we work out the 
// fractional size of the original (current size divided by original size)
// then mutiply by the sprite width.  

$svg-sprite-size : ($checkbox-width / 50) * $svg-sprite-width;

input[type="checkbox"]:checked ~ label:before {
    // nice transition into validation style
    @include transition(border-color $transition-timing);
    background: url('../img/svg-sprite.svg') $input-bg ($checkbox-width * -1) 0;  // icon is at position 3 on the sprite sheet. Position 1 has no value, so the modifier is -1
    background-size: $svg-sprite-size;
}


.checkbox-group {
  // set postion so the custom checkbox buttons can be positioned
  position: relative;
  margin-top: $checkbox-v-spacing; // spacing between checkbox groups
  min-height: $checkbox-width; // make sure the container encompasses the label and absolute positioned checkbox
}