// SVG sprite is based on a 50px X 50px grid, with a width of 500px or $svg-sprite-width. 
// To fit it into the checkbox area, say 32px X 32px, we work out the 
// fractional size of the original (current size divided by original size)
// then mutiply by the sprite width.
// The -1 is to allow for border  

$svg-sprite-size : (($input-height - 1) / 50) * $svg-sprite-width;

select {
    display: block; // make sure it sits on it's own line, as labels are inline-blocks for a reason
}

// Following for Silverstripe
.dropdown .middleColumn {
    background: $input-bg;
    height: $input-height;
    overflow: hidden;
    width: $input-width / 2;
    position: relative;
    z-index: 1;
    &:after {
        // select menu arrow icon
        display: block;
        content: "";
        width: $input-height - 1; // offset for parent border
        height: $input-height - 1;
        background: url('../img/svg-sprite.svg') top left; // arrow icon and background colour or icon area
        background-size: $svg-sprite-size;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2; // ensure it doesn't float over select options
    }
    select {
        -webkit-appearance: none;
        background: transparent;
        border: 1px solid $input-border;
        border-radius: 0;
        @include font-size(14);
        width: 100%; // make the select length the same width as the parent
        height: $input-height;
        padding: 5px 5px 5px $input-left-pad; /* If you add too much padding here, the options won't show in IE */
        position: relative;
        z-index: 3;
        &:focus {
            border: 1px solid $input-focus;
            @include box-shadow(none);
            outline: none;
        }
    }
}
