// /////////////////  Debug note \\\\\\\\\\\\\\\\\\\\\\
// //// In the SASS imports is a debug .scss file \\\\\\
// //// Switch it on the have all the various parts \\\\
// //// of the forms coloured in. \\\\\\\\\\\\\\\\\\\\\\
// 



// target labels of checkbox and radio groups
.optionset li label, .middleColumn > :not(input).checkbox, .checkbox-label {
    margin-top: 10px; //Push the label down so it is visially aligned in the middle with the checkbox or radio button
    min-height: $checkbox-width;
    padding-left: $checkbox-width + ($layout-gutter-width / 2);
}

label {
    // disabled class added by JS
    &.disabled {
        opacity: 0.7;
    }
}
