// /////////////////  Debug note \\\\\\\\\\\\\\\\\\\\\\
// //// In the SASS imports is a debug .scss file \\\\\\
// //// Switch it on the have all the various parts \\\\
// //// of the forms coloured in. \\\\\\\\\\\\\\\\\\\\\\
// 


// target the 'fieldsets', which are all the groups of inputs and label in the userforms
.form-step > .field, .CompositeField, .middleColumn fieldset, .field.text {
    // create equal spacing between all fields/field groups
    margin-top: $fieldset-margin;
}


legend {

}

// target text fields/labels for standard inputs (not checkboxes and radios)
.field.text {
  
}

// direct parent containers for all input tags
.optionset li, .middleColumn {
    // allow radio/checkbox inputs to be positioned correctly
    position: relative;
}

 

// For nested
.middleColumn .field:first-child {
    margin-top: 0;
}

// spacing between checkboxes and radio's are defined at the list level
.optionset li {
    margin-top: $check-radio-top-margin;
    &:first-child {
        //Remove the top margin off the first checkbox or radio so they sit flush with the legend. This allows legends and labels to have the same spacing control
        margin-top: 0;
    }
}


.checkbox .middleColumn {
  //offset the parents middleColumn padding
  margin-left: ($checkbox-width + ($layout-gutter-width / 2)) * -1;
  
}
