input[type="radio"] {
  ;
}

.checkboxset-inline, input[type="radio"] {
    float: left;
}

.checkboxset input[type="checkbox"]:checked ~ label:before, input.checkbox:checked + label:before {
    content: "";
    color: $brand-primary;
}

