@charset "UTF-8";
/* line 41, ../scss/_2_tools/_mixins.scss */
.visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }

/* This mixin creates an arrow as an inline element. Any spacing or placement will have to be further defined */
/* line 4, ../scss/_3_generic/_reset.scss */
input, label, textarea, legend, form li, form ul, form ol, fieldset {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto; }

/* line 18, ../scss/_3_generic/_reset.scss */
fieldset {
  border: none; }

/* line 22, ../scss/_3_generic/_reset.scss */
ul {
  list-style: none; }

/* line 30, ../scss/_3_generic/_reset.scss */
.userform .left {
  margin-bottom: 0;
  font-weight: 300; }

/* line 36, ../scss/_3_generic/_reset.scss */
.userformsgroup {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0; }

/* line 2, ../scss/_4_base/forms/_inputs-base.scss */
.form-step > .field, .CompositeField {
  margin-top: 40px; }

/* line 6, ../scss/_4_base/forms/_inputs-base.scss */
form nav {
  margin-top: 40px; }

/* line 11, ../scss/_4_base/forms/_inputs-base.scss */
.optionset li, .middleColumn {
  position: relative; }

/* line 16, ../scss/_4_base/forms/_inputs-base.scss */
.optionset li {
  margin-top: 20px; }

/* line 23, ../scss/_4_base/forms/_inputs-base.scss */
input[type="radio"], input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: 100;
  top: 12.8px;
  left: 12.8px; }

/* line 31, ../scss/_4_base/forms/_inputs-base.scss */
input[type="radio"] + label:before, input[type="checkbox"] + label:before {
  content: "\00a0";
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #ececec;
  border: 1px solid #602d68;
  position: relative;
  font-family: "FontAwesome";
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0 10px -2px 0; }

/* line 2, ../scss/_4_base/forms/_inputs-radios.scss */
input[type="checkbox"]:checked ~ label:before {
  content: "";
  color: #602d68; }

/* line 7, ../scss/_4_base/forms/_inputs-radios.scss */
input[type="radio"] + label:before {
  border-radius: 50%; }

/* line 12, ../scss/_4_base/forms/_inputs-radios.scss */
input[type="radio"] + label.error:before {
  border: 2px solid #bf3746; }

/* line 5, ../scss/_4_base/forms/_inputs-checkbox.scss */
.checkboxset-inline, input[type="radio"] {
  float: left; }

/* line 9, ../scss/_4_base/forms/_inputs-checkbox.scss */
.checkboxset input[type="checkbox"]:checked ~ label:before, #Form_RssFeedGeneratorForm_SelectDeselectAll input[type="checkbox"]:checked ~ label:after, #Form_Form_SelectDeselectAll input[type="checkbox"]:checked ~ label:after, .subscriptions .checkboxset input[type="checkbox"]:checked ~ label:after, input.checkbox:checked + label:before {
  content: "";
  color: #602d68; }
