@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
/* line 46, ../scss/_2_tools/_mixins.scss */
.visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute; }

/* This mixin creates an arrow as an inline element. Any spacing or placement will have to be further defined */
/* line 3, ../scss/_2_tools/_form-debug.scss */
.debug-key {
  padding: 20px;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  width: auto;
  background: rgba(255, 255, 255, 0.92);
  border: 1px solid #ccc;
  border-bottom-left-radius: 10px; }
/* line 4, ../scss/_2_tools/_form-debug.scss */
.debug-key[style] {
  display: block !important; }
/* line 17, ../scss/_2_tools/_form-debug.scss */
.debug-key ul {
  list-style: none;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: margin 0.25s ease-in-out, max-height 0.25s ease-in-out;
  transition: margin 0.25s ease-in-out, max-height 0.25s ease-in-out; }
/* line 24, ../scss/_2_tools/_form-debug.scss */
.debug-key li {
  margin: 0;
  padding: 0;
  position: relative;
  padding-right: 70px;
  height: 0;
  overflow: hidden; }
/* line 31, ../scss/_2_tools/_form-debug.scss */
.debug-key li:first-child {
  margin: 0; }
/* line 35, ../scss/_2_tools/_form-debug.scss */
.debug-key li span {
  position: absolute;
  width: 60px;
  height: 30px;
  top: 0;
  right: 0; }
/* line 43, ../scss/_2_tools/_form-debug.scss */
.debug-key input[type=checkbox] {
  display: inline-block;
  position: static;
  width: auto;
  height: auto;
  margin-right: 10px; }
/* line 49, ../scss/_2_tools/_form-debug.scss */
.debug-key input[type=checkbox] + span {
  font-weight: 700;
  display: inline-block;
  position: static; }
/* line 55, ../scss/_2_tools/_form-debug.scss */
.debug-key input[type=checkbox]:checked ~ ul {
  margin: 20px 60px 60px 40px;
  max-height: 300px;
  -webkit-transition: margin 0.25s ease-in-out, max-height 0.25s ease-in-out;
  transition: margin 0.25s ease-in-out, max-height 0.25s ease-in-out; }
/* line 59, ../scss/_2_tools/_form-debug.scss */
.debug-key input[type=checkbox]:checked ~ ul li {
  height: auto;
  margin: 20px 0 0 0; }

/* line 69, ../scss/_2_tools/_form-debug.scss */
input[type="radio"], input[type="checkbox"] {
  opacity: 1 !important; }

/* line 74, ../scss/_2_tools/_form-debug.scss */
.form-step > .field, .CompositeField, .input-colour {
  background: #FF746D; }

/* line 78, ../scss/_2_tools/_form-debug.scss */
legend, .legend-colour {
  background: #DE99E8; }

/* line 83, ../scss/_2_tools/_form-debug.scss */
.optionset li, .middleColumn, .parent-colour {
  background: #B0A5FF; }

/* line 88, ../scss/_2_tools/_form-debug.scss */
.optionset li label, .middleColumn > :not(input).checkbox, .checkbox-label, .radio-labels-colour {
  background: #E89958; }

/* line 92, ../scss/_2_tools/_form-debug.scss */
.field.text, .text-labels-colour {
  background: #FFD649; }

/* line 96, ../scss/_2_tools/_form-debug.scss */
.field-support-text, .field-support-colour {
  background: #9AFFDE; }

/* line 100, ../scss/_2_tools/_form-debug.scss */
.field-validation, .field-validation-colour, .error.message {
  background: red !important;
  color: #fff !important; }

/* line 4, ../scss/_3_generic/_reset.scss */
input, label, textarea, legend, form li, form ul, form ol, fieldset {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto; }

/* line 18, ../scss/_3_generic/_reset.scss */
fieldset {
  border: none; }

/* line 22, ../scss/_3_generic/_reset.scss */
form ul {
  list-style: none; }

/* line 30, ../scss/_3_generic/_reset.scss */
.userform .left {
  margin-bottom: 0;
  font-weight: 300; }

/* line 36, ../scss/_3_generic/_reset.scss */
.userformsgroup {
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0; }

/* line 1, ../scss/_3_generic/_box-model.scss */
html {
  box-sizing: border-box; }

/* line 4, ../scss/_3_generic/_box-model.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 3, ../scss/_3_generic/_typography.scss */
html {
  font-size: 62.5%; }

/* line 7, ../scss/_3_generic/_typography.scss */
body {
  color: #414042;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 300; }

/* line 11, ../scss/_3_generic/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  line-height: 33px;
  line-height: 3.3rem;
  font-size: 30px;
  font-size: 3rem; }

/* line 1, ../scss/_4_base/_buttons.scss */
button {
  font-size: 14px;
  font-size: 1.4rem; }

/* line 9, ../scss/_4_base/forms/_form-layout.scss */
.form-step > .field, .CompositeField, .middleColumn fieldset, .field.text {
  margin-top: 60px; }

/* line 25, ../scss/_4_base/forms/_form-layout.scss */
.optionset li, .middleColumn {
  position: relative; }

/* line 33, ../scss/_4_base/forms/_form-layout.scss */
.middleColumn .field:first-child {
  margin-top: 0; }

/* line 38, ../scss/_4_base/forms/_form-layout.scss */
.optionset li {
  margin-top: 20px; }
/* line 40, ../scss/_4_base/forms/_form-layout.scss */
.optionset li:first-child {
  margin-top: 0; }

/* line 47, ../scss/_4_base/forms/_form-layout.scss */
.checkbox .middleColumn {
  margin-left: -52px; }

/* line 10, ../scss/_4_base/forms/_form-labels.scss */
.optionset li label, .middleColumn > :not(input).checkbox, .checkbox-label {
  margin-top: 10px;
  min-height: 32px;
  padding-left: 52px; }

/* line 18, ../scss/_4_base/forms/_form-labels.scss */
label.disabled {
  opacity: 0.7; }

/* line 1, ../scss/_4_base/forms/_inputs-base.scss */
label {
  display: inline-block; }

/* line 6, ../scss/_4_base/forms/_inputs-base.scss */
input, textarea, select {
  font-size: 14px;
  font-size: 1.4rem; }

/* line 11, ../scss/_4_base/forms/_inputs-base.scss */
input[type="text"], input[type="tel"], input[type="email"], input[type="date"], input[type="number"], input[type="url"], input[type="search"] {
  display: block;
  width: 100%;
  max-width: 500px;
  height: 42px;
  padding-left: 13.33333px;
  background: #ececec;
  border: 1px solid #214385; }
/* line 103, ../scss/_2_tools/bs-mixins/_vendor-prefixes.scss */
input[type="text"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="search"]::-moz-placeholder {
  color: #8d8c8e;
  opacity: 1; }
/* line 107, ../scss/_2_tools/bs-mixins/_vendor-prefixes.scss */
input[type="text"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder {
  color: #8d8c8e; }
/* line 108, ../scss/_2_tools/bs-mixins/_vendor-prefixes.scss */
input[type="text"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder {
  color: #8d8c8e; }

/* line 29, ../scss/_4_base/forms/_inputs-base.scss */
textarea {
  width: 100%;
  padding: 13.33333px;
  background: #ececec;
  border: 1px solid #214385; }

/* line 37, ../scss/_4_base/forms/_inputs-base.scss */
input:focus, textarea:focus {
  border: 1px solid #421949;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none; }

/* line 44, ../scss/_4_base/forms/_inputs-base.scss */
input:disabled, select:disabled, textarea:disabled {
  opacity: 0.4;
  cursor: not-allowed; }

/* line 53, ../scss/_4_base/forms/_inputs-base.scss */
input[type="radio"], input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: 100;
  top: 16px;
  left: 0;
  width: 32px;
  height: 32px; }

/* line 64, ../scss/_4_base/forms/_inputs-base.scss */
input[type="radio"] + label:before, input[type="checkbox"] + label:before {
  content: "\00a0";
  display: block;
  width: 32px;
  height: 32px;
  background: #ececec;
  border: 1px solid #214385;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "FontAwesome";
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem; }

/* line 10, ../scss/_4_base/forms/_inputs-radios.scss */
input[type="radio"] + label:before {
  border-radius: 50%; }

/* line 14, ../scss/_4_base/forms/_inputs-radios.scss */
input[type="radio"]:checked + label:before {
  background: url("../images/svg-sprite.svg") #ececec -65px -1px;
  background-size: 320px; }

/* line 20, ../scss/_4_base/forms/_inputs-radios.scss */
input[type="radio"] + label.error:before {
  border: 2px solid #bf3746; }

/* line 8, ../scss/_4_base/forms/_inputs-checkbox.scss */
.checkboxset input[type="checkbox"]:checked ~ label:before, input.checkbox:checked + label:before {
  background: url("../images/svg-sprite.svg") #ececec -32px 0;
  background-size: 320px; }

/* line 9, ../scss/_4_base/forms/_select.scss */
select {
  display: block; }

/* line 14, ../scss/_4_base/forms/_select.scss */
.dropdown .middleColumn {
  background: #ececec;
  height: 42px;
  overflow: hidden;
  width: 50%;
  position: relative;
  z-index: 1; }
/* line 21, ../scss/_4_base/forms/_select.scss */
.dropdown .middleColumn:after {
  display: block;
  content: "";
  width: 41px;
  height: 41px;
  background: url("../images/svg-sprite.svg") top left;
  background-size: 410px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2; }
/* line 34, ../scss/_4_base/forms/_select.scss */
.dropdown .middleColumn select {
  -webkit-appearance: none;
  background: transparent;
  border: 1px solid #214385;
  border-radius: 0;
  font-size: 14px;
  font-size: 1.4rem;
  width: 100%;
  height: 42px;
  padding: 5px 5px 5px 13.33333px;
  /* If you add too much padding here, the options won't show in IE */
  position: relative;
  z-index: 3; }
/* line 45, ../scss/_4_base/forms/_select.scss */
.dropdown .middleColumn select:focus {
  border: 1px solid #421949;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none; }

/* line 4, ../scss/_4_base/forms/_validation.scss */
.field-validation, .error.message {
  background: red !important;
  color: #fff !important; }

/* line 1, ../scss/_5_objects/_buttons.scss */
.btn-action {
  color: #ff0000;
  background-color: #fff;
  border-color: transparent;
  padding: 5px 20px; }
/* line 12, ../scss/_2_tools/_button-base-mixin.scss */
.btn-action:hover, .btn-action:focus, .btn-action.focus, .btn-action:active {
  color: #ff0000;
  background-color: #efefef;
  border-color: transparent;
  cursor: pointer; }

/* line 1, ../scss/_5_objects/_layouts.scss */
.promo-grid-3 {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }
/* line 5, ../scss/_5_objects/_layouts.scss */
.promo-grid-3 > div {
  flex: 1 1 100%;
  width: 100%;
  background-color: #ececec; }
@media screen and (min-width: 768px) {
  /* line 23, ../scss/_2_tools/_flex-box-col-mixin.scss */
  .promo-grid-3 > div:nth-child(odd) {
    width: 48%;
    vertical-align: top;
    flex: 1 1 48%; }
  /* line 23, ../scss/_2_tools/_flex-box-col-mixin.scss */
  .promo-grid-3 > div:nth-child(even) {
    width: 48%;
    vertical-align: top;
    flex: 1 1 48%; } }
@media screen and (min-width: 992px) {
  /* line 38, ../scss/_2_tools/_flex-box-col-mixin.scss */
  .promo-grid-3 > div:nth-child(3n + 1) {
    width: 31.83333%;
    vertical-align: top;
    flex: 0 0 31.83333%; }
  /* line 38, ../scss/_2_tools/_flex-box-col-mixin.scss */
  .promo-grid-3 > div:nth-child(3n + 2) {
    width: 31.83333%;
    vertical-align: top;
    flex: 0 0 31.83333%; }
  /* line 38, ../scss/_2_tools/_flex-box-col-mixin.scss */
  .promo-grid-3 > div:nth-child(3n + 3) {
    width: 31.83333%;
    vertical-align: top;
    flex: 0 0 31.83333%; } }

/* line 1, ../scss/_6_components/_form-progress-bar.scss */
.userform-progress {
  /* one item */
  /* two items */
  /* three items */
  /* four items */
  /* 5 items */
  /* 6 items */
  /* 7 items */
  /* 8 items */
  /* 9 items */
  /* 10 items */
  /* 11 items */
  /* 12 items */
  /* 13 items */
  /* 14 items */ }
/* line 2, ../scss/_6_components/_form-progress-bar.scss */
.userform-progress li {
  float: left; }
/* line 7, ../scss/_6_components/_form-progress-bar.scss */
.userform-progress li:first-child:nth-last-child(1) {
  width: 100%; }
/* line 12, ../scss/_6_components/_form-progress-bar.scss */
.userform-progress li:first-child:nth-last-child(2), .userform-progress li:first-child:nth-last-child(2) ~ li {
  width: 50%; }
/* line 18, ../scss/_6_components/_form-progress-bar.scss */
.userform-progress li:first-child:nth-last-child(3), .userform-progress li:first-child:nth-last-child(3) ~ li {
  width: 33.3333%; }
/* line 24, ../scss/_6_components/_form-progress-bar.scss */
.userform-progress li:first-child:nth-last-child(4), .userform-progress li:first-child:nth-last-child(4) ~ li {
  width: 25%; }
/* line 29, ../scss/_6_components/_form-progress-bar.scss */
.userform-progress li:first-child:nth-last-child(5), .userform-progress li:first-child:nth-last-child(5) ~ li {
  width: 20%; }
/* line 34, ../scss/_6_components/_form-progress-bar.scss */
.userform-progress li:first-child:nth-last-child(6), .userform-progress li:first-child:nth-last-child(6) ~ li {
  width: 16.66667%; }
/* line 39, ../scss/_6_components/_form-progress-bar.scss */
.userform-progress li:first-child:nth-last-child(7), .userform-progress li:first-child:nth-last-child(7) ~ li {
  width: 14.28571%; }
/* line 44, ../scss/_6_components/_form-progress-bar.scss */
.userform-progress li:first-child:nth-last-child(8), .userform-progress li:first-child:nth-last-child(8) ~ li {
  width: 12.5%; }
/* line 49, ../scss/_6_components/_form-progress-bar.scss */
.userform-progress li:first-child:nth-last-child(9), .userform-progress li:first-child:nth-last-child(9) ~ li {
  width: 11.11111%; }
/* line 54, ../scss/_6_components/_form-progress-bar.scss */
.userform-progress li:first-child:nth-last-child(10), .userform-progress li:first-child:nth-last-child(10) ~ li {
  width: 10%; }
/* line 59, ../scss/_6_components/_form-progress-bar.scss */
.userform-progress li:first-child:nth-last-child(11), .userform-progress li:first-child:nth-last-child(11) ~ li {
  width: 9.09091%; }
/* line 64, ../scss/_6_components/_form-progress-bar.scss */
.userform-progress li:first-child:nth-last-child(12), .userform-progress li:first-child:nth-last-child(12) ~ li {
  width: 8.33333%; }
/* line 69, ../scss/_6_components/_form-progress-bar.scss */
.userform-progress li:first-child:nth-last-child(13), .userform-progress li:first-child:nth-last-child(13) ~ li {
  width: 7.69231%; }
/* line 74, ../scss/_6_components/_form-progress-bar.scss */
.userform-progress li:first-child:nth-last-child(14), .userform-progress li:first-child:nth-last-child(14) ~ li {
  width: 7.14286%; }
/* line 81, ../scss/_6_components/_form-progress-bar.scss */
.userform-progress button {
  color: #fff;
  background-color: #005470;
  border-color: transparent;
  padding: 15px 15px;
  width: 100%; }
